body {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: peachpuff;
    padding: 30px 10px 40px 10px;
    width: 30%;
    margin: 40px;
  }
     
  h1 {
    display: flex;
    text-align: center;
    color: #fff;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0CBABA;
    color: black;
    border: none;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50%;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }

  .titulo{
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 10px 35px;
    font-size: 20px;
    height: 100px;
  }