body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: peachpuff;
    margin-top: 150px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: fit-content;
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    text-align: center;
    line-height: 60px;
    font-size: 2em;
}

.cell.correct {
    background: #538d4e;
    color: white;
}

.cell.semi-correct {
    background: #b59f3b;
    color: white;
}

.cell.incorrect {
    background: #3a3a3c;
    color: white;
}

@media (max-width: 400px) {
    .cell {
        width: 40px;
        height: 40px;
        border: 1px solid #333;
        text-align: center;
        line-height: 40px;
        font-size: 1em;
    }
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.guessInput {
    width: 230px;
    font-size: 28px;
    height: 40px;
}

.guessButton {
    width: 100px;
    height: 40px;
}

#teclado {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    margin: 0 auto;
    justify-items: center;
    width: 20%;
    padding-top: 10px;
}

.key {
    width: 35px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #333;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.key:hover {
    background-color: #e0e0e0;
}